
body{
    color:black;
    text-decoration:none;
    font-family:sans-serif, Calibri, Cambria, Arial;
    overflow-x:hidden;
    margin: 0 auto;
    /**background:#f5f5f5;**/
    background:url("../../../images/texture1.jpg");
    background-repeat:repeat;
}
.hidden{
    visibility:hidden;
    font-size:0;
    width:0;
    padding:0;
    height:0;
}
#title0_1{
    color:white;
    padding:23px;
    border-bottom:2px solid gray;
    text-align:center;
}
#title0_1 h1{
    color:white;
    text-align:center;
    font-size:2em;
    font-weight:bolder;
    padding:0!important;
}
footer    {
    background-color:#353535;
    width:100%;
    height:450px;
    margin: 0 auto;
    text-align:center;
    padding-top:10px;
    text-decoration:none;
    margin-top:100px;
    line-height:normal;
}
footer i{
    color:ghostwhite;
    margin-top:10px;
    padding-left:20px;
    text-align:center;
}
footer i:hover{
    color:gray;
}
footer h1, footer h2, footer h3, footer p, footer a{
    color:lightgray;
    text-decoration:none;
    text-align:center;
}
footer h1{
    font-size:2em;
    font-weight: bold;
}
footer h2{
    font-size: 1.5em;
    font-weight: bold;
}
footer h3{
    font-size:1.17em;
    font-weight:bold;
}
footer p{
    font-size:1em;
}
.specialTutorialFooter p, .specialTutorialFooter a{
    line-height:2.3em;
}
.specialTutorialFooter h1{
    font-weight:bold;
    font-family:sans-serif;
}
@media all and (min-width:800px){
    #custom{
        height:50px;
    }
}
#menuandcontentcontainer    {
    border-bottom:2px solid gray;
    background:#E9E9F0;
    margin:auto;
    min-width:1100px;
    max-width:2000px;
    overflow:scroll;
}
#menuandcontentcontainer p, h1, h2, h3, h4{
    line-height:30px;
}
#menu   {
    width:15%;
    float:left; 
    background:#E9E9F0;
    height:1000px;
    text-align:center;
    padding-top:52px;
    padding-bottom:52px;
}
#menu a{
    text-decoration:none;
}
#menu a:hover   {
    color:blue;
}
#content    {
    padding:2%;
    background:white;
    float:right;
    width:80%;
    min-height:1100px;
}

@media all and (min-width:2000px){
    #menuandcontentcontainer{
        border:2px solid lightgrey;
        border-radius:10px;
    }

}
#content h1,h2,h3,h4,h5,h6{
    color:midnightblue;
}
#content img    {
    max-width:90%;
}


table {
    border-collapse: collapse;
}
td {
    padding: 0;
    margin:0;
}
.menuSection    {
    background:none; 
    border:none; 
    color:midnightblue; 
    font-size:18px; 
    font-weight:bold;
    outline:none;
    padding:0;
    border-bottom:2px solid black;
    margin-bottom:10px;
}
.superSizedh1{
    font-size:60px;
    text-shadow:3px 4px 4px lightgray;
    text-align:center;
}
.fa-eye-slash, .fa-eye{
    color:gray;
    float:left;
}
.fa-eye-slash:hover, .fa-eye:hover{
    color:darkgray;
}
.extendToFull{
    width:96%!important;
}
canvas#canvastree {           
    width: 750px;
    height: 600px;
    background:lightgreen;
}
#firstdescription{
    width:100%;
    height:1100px;
    background:lightgreen;
    margin-top:-600px;
    float:right;
}
#firstdescription div#firstdescriptiontext1{
    float:right;
    width:270px;
    height:600px;
    color:white; 
    line-height:60px; 
    text-align:center;
    background: -webkit-linear-gradient(forestgreen, lightgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(forestgreen, lightgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(forestgreen, lightgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(forestgreen, lightgreen); /* Standard syntax */;
}
#firstdescription img{
    width:100%;
    height:80px;
}
#firstdescription div#firstdescriptiontext2{
    width:100%;
    height:400px;
    margin-top:700px;
    line-height:24px;
    color:darkgreen;
}
#firstdescription #getstartednowbutton{
    background:forestgreen;
    text-align:center;
    width:180px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:20px;
    border:1px solid forestgreen;
    float:right;
    margin-right:150px;
    color:lightgreen;
    margin-top:-150px;
    font-size:16px;
    text-decoration:none;
}
#firstdescription #getstartednowbutton:hover{
    background:#45B445;
    border:2px solid white;
    color:#99FF99;
    text-decoration:none;
}
#pointerArrow1{
    width:160px;
    padding-top:2px;
    padding-bottom:2px;
    margin-left:30%;
    margin-top:-25px;
    text-align:center;
    background: -webkit-linear-gradient(#6CDA6C, #89E189); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6CDA6C, #89E189); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6CDA6C, #89E189); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6CDA6C, #89E189); /* Standard syntax */;
}
#pointerArrow1:hover{
    background:#6CDA6C;
}
#pointerArrow1 a{
    text-decoration:none;
    color:white;
}
#pointerArrow1.fa-angle-down{
    color:white;
}

#next    {
    padding:2%;
    background:white;
    float:right;
    width:80%;
}
